html {
  font-family: sans-serif;
}

header {
  background-color: lightgrey;
}

.brand-color {
  background-color: gainsboro;
}

.brand-color-2 {
  background-color: #EEE;
}

nav ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: dodgerblue;
}

nav a{
  text-decoration: none;
  color: dodgerblue;
}

header nav li:hover {
  background-color: dodgerblue;
}

header a:hover {
  color: white;
}

footer {
  background-color: darkgray;
}

@media only screen and (min-width: 25em) {

  h1 {
    text-align: center;
  }

  header nav ol {
    text-align: center;
  }

  li {
    display: inline;
  }

}

@media only screen and (min-width: 38em) {

  header nav ol {
    margin-top: 1em;
  }

  h1 {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  h1 {
    text-align: left;
  }

  header nav ol {
    text-align: left;
  }

}
