@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: lightgrey;
}

h2 {
  background-color: gainsboro;
}

nav ol {
  list-style-type: none;
  padding: 0;
}

nav a{
  text-decoration: none;
  color: dodgerblue;
}

 header nav li:hover {
  background-color: dodgerblue;
}

header a:hover {
  color: white;
}

.img-flex {
  width: 100%;
  display: block;
}

footer {
  background-color: darkgray;
}

@media only screen and (min-width: 25em) {

  header nav ol {
    text-align: center;
  }

  footer nav ol {
    text-align: left;
  }

  li {
    display: inline;
  }

}

@media only screen and (min-width: 38em) {

  h1 {
    text-align: left;
  }

}
